body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 30px;
}
p{
    
    text-align: justify;
    color: dimgrey;
}

.topnav {
    overflow: hidden;
    background-color: rgba(255, 187, 0, 0.883);
    border-radius: 10px;
  }
  
  .topnav a {
    float: left;
    color: dimgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: rgb(223, 98, 15);
    color: white;
  }
  
  .topnav a.active {
    background-color: orange;
    color: dimgrey;
  }
.orange-style{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon,tomato);
    color: white;
    padding: 10px 20px;
   
    border-radius: 5px;
    font-weight: 700;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0px;
    padding: 20px;
}
.shadow-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
    background-color: white;
}
.Experience-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   

}
#education-area{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.Experience-part h2{
    text-align: center;
}
.icon-social {
    text-align: center;
   
    color: rgb(41, 34, 139);
    
    background-position: center;
    width:50% center;
    background-position: center;
}
.icon-social:hover{
    color: rgb(255, 157, 0);
   
    
}
.icon-style:hover{
    color: rgb(253, 207, 4);
    background-color: rgb(255, 7, 7);
    height: 500px;
    width: 20%;
    padding: 20px;
}
.last-part{
    background-image:linear-gradient(180deg,lightsalmon,orange);
   
    height: 125px;
    width: 100%;
    padding: 3px;
    background-repeat: none;
    border-radius: 20px;

}

